<!DOCTYPE html>
<html lang="en">
<button onclick="caretaker homepage" type="button">
    caretaker
</button>
<button onclick="pet owner homepage" type="button">
    pet owner
</button>
<button onclick="my profile page" type="button">
    my profile
</button>
<button onclick="transaction page" type="button">
    transactions
</button>
<head>
    <br>Caretaker's <!-- is it possible to personalise with the caretaker's name?--> transactions transactions
</head>
<body>
    <button onclick="salary page" type="button">
        check my salary <!-- only for care takers -->
    </button>
    <table style="width: 100%">
        <tr>
            <th>pet owner's name</th>
            <th>pet name</th>
            <th>start date</th>
            <th>end date</th>
            <th>status</th>
            <th>rating</th>
            <th>review</th>
            <th>view booking<th>
        </tr>
    </table>
</body>
</html>