<!DOCTYPE html>
<html lang="en">
<button onclick="caretaker homepage" type="button">
    caretaker
</button>
<button onclick="pet owner homepage" type="button">
    pet owner
</button>
<button onclick="my profile page" type="button">
    my profile
</button>
<button onclick="transaction page" type="button">
    transactions
</button>
<head>
    <h1>
        FT Caretaker Homepage
    </h1>
    <button onclick="leave page" type="button">
        apply leave
    </button>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns */
    .row {
    float: top;
    width: 100%;
    }

    .column:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
</head>
<body>
    <h1>
        <div class="column">
        <div class="row" style="background-color:#FFB695;">
            <h2>
                Upcoming confirmed bookings for the next 2 weeks
            </h2>
            <table style="width: 100%">
                <tr>
                <th>pet owner's name</th>
                <th>pet name</th>
                <th>start date</th>
                <th>end date</th>
                <th>view booking<th>
                </tr>
            </table>
        </div>
    </div>
    </h1>
</body>
</html>