<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <!-- <link href="static/layout_website/styles/layout.css" rel="stylesheet" type="text/css" media="all"> -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup-form">
            <!--<img src="static/images/registration.png" style="background-image: url('static/images/registration.jpg');">-->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Registration Part 2</h2>
                        {{ form.csrf_token }}

                        <p> {{ form.address (class_ = "form-input") }} </p>
                        <p> {{ form.postal (class_ = "form-input") }} </p>
                        <p> {{ form.hp (class_ = "form-input") }} </p>
                        <p> {{ form.poct_label }} </p>
                        <p> {{ form.po_checkbox }} {{ form.po_checkbox.label }} </p> 
                        <p> {{ form.ct_checkbox }} {{ form.ct_checkbox.label }} </p>
                        <p> {{ form.submit (class_ = "form-submit") }} </p>

                        <!-- {% for field in form if field.name != "csrf_token" %}  
                            {% if field.type == 'Label' %}
                                {{ field.label }}
                            {% elif field.type == 'BooleanField' %}
                                <p>{{ field }} {{ field.label}}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p>{{ field (class_ = "form-input") }}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endfor %} -->

                        <!-- {% for field in form %}
                            {% if field.type == 'MultiCheckboxField ' %}
                                {{render_checkbox_field(field)}}
                            {% else %}
                                <p>{{ field.label() }}</p>
                                <p>{{ field (class_ = "form-input") }}
                                {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endfor %} -->

                        <!-- <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div> -->
                    </form>
                    <p class="loginhere">
                            Have already an account ? <a href="/login" class="loginhere-link">Login here</a>
                        </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/js/registration.js"></script>
</body>
</html>