<!DOCTYPE html>
<html lang="en">
<button onclick="caretaker homepage" type="button">
    caretaker
</button>
<button onclick="pet owner homepage" type="button">
    pet owner
</button>
<button onclick="my profile page" type="button">
    my profile
</button>
<button onclick="transaction page" type="button">
    transactions
</button>
<head>
    <h1>
        <br>Review and Rating
    </h1>
    
</head>
<body>
    <h1>
        <h2>
            Booking Summary
        </h2>
        <p>
            Status:
            <br>Pet Owner Name:
            <br>Pet Name:
            <br>Pet Type:
            <br>Special Requests:
            <br>Caretaker Name:
            <br>Start Date:
            <br>End Date:
            <br>Price x Days =
            <br>Payment Option:
            <br>
            </p>
            <textarea>Rating</textarea>
            <br>
            <textarea>Review</textarea>
            <button type="submit"> <!-- reject button only avail for pt caretaker -->
                Submit 
            </button>        
        </p>
    </h1>
</body>
</html>
